.body{
    height: 80vh;
}
.bodytext{
    text-align: center;
    height: 20vh;
}
.others{
    display: flex;
    height: 60vh;
}
.pic{
flex: 1;
display: flex;
justify-content: space-around;
align-items: center;
}
#page{
    height: 60vh;
    margin-bottom: 60px;
}
#price{
    height: 20vh ;
    margin-right: 15px;
}
.form{
flex: 1.5;
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-around;
}
.dob{
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dob > input{
    width :600px;
    border: none;
    border-bottom: 1px solid black;
}
.formimage{
    height:10vh;
    width: 5.5vw;
}
#dob{
    height: 60px;
}
.dob >.gender> .button{
    width :600px;
    display: flex;
    align-items: flex-start;
}
.dob >.gender> .button > button{
   width: 90px;
   height: 40px;
   border: 1px solid black;
   background-color: white;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
button{
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
}
.gender{
    display: flex;
    flex-flow: column;
    width :600px;
}
.quote{
    width: 730px;
    display: flex;
    justify-content: flex-end;
}
#quote{
    background-color: rgb(66, 134, 161);
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    border: none;
}
#quote > span{
    color: white;
    margin-right: 10px;
   font-size: 110%;
}
.gender-image{
    height: 20px;
}

/* media query */

@media only screen and (max-width: 400px)
{
.body{
    margin-top: 80px;
    width: 400px;
}
#page{
    height: 30vh;
    margin-bottom: 60px;
}
#price{
    height: 10vh ;
    margin-right: 15px;
}
.others{
    display: block;
}.bodytext{
    font-size: 70%;
}
h1{
    font-size: 200%;
    font-weight: bold;
}

.dob{
    width: 350px;
}
.dob > input{
    width :300px;
    border: none;
    border-bottom: 1px solid black;
}
.formimage{
    height:13vh;
    width: 22vw;
    margin-right: 20px;
}
.quote{
    width: 370px;
    display: flex;
    justify-content: flex-end;
}
#quote{
    background-color: rgb(66, 134, 161);
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    border: none;
}
.form{
    width: 400px;
}
.gender{
    width: 300px;
}

}

